body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

div#root {
    width: 100%;
}

.app-container {
    background: #ffffff;
    padding: 20px;
    margin: 10px auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 95%;
    min-height: 300px;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

img {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 30%;
    margin: 10px auto;
}

button {
    padding: 12px 20px;
    margin: 5px;
    border: none;
    align-items: center;
    border-radius: 8px;
    background-color: #4f46e5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

button:hover {
    background-color: #4338ca;
}

input[type="file"] {
    display: block;
    margin: 15px 0;
}

#qr-reader {
    width: 100%;
    max-width: 400px;
    margin: 15px auto;
    border-radius: 15px;
    overflow: hidden;
}

p,
a {
    word-break: break-all;
    font-size: 16px;
    margin: 10px 0;
}

a {
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    background-color: #10b981;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #059669;
}

@media screen and (max-width: 480px) {
    .app-container {
        padding: 15px;
        margin: 10px auto;
    }
    button,
    a {
        width: 100%;
        text-align: center;
    }
    #qr-reader {
        max-width: 100%;
    }
}

.dots::after {
    content: '';
    animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
    0% {
        content: '';
    }
    33% {
        content: '.';
    }
    66% {
        content: '..';
    }
    100% {
        content: '..';
    }
}